h1 {
  text-decoration: overline;
  color: #ffa365;
}

body {
  background-color: #ffffc8;
  background-image: url('https://ak2.picdn.net/shutterstock/videos/8943553/thumb/1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  font-family: 'Peddana', serif;
  padding-left: 20px;
}

ul {
  text-align: inherit;
  font-family: 'Peddana', serif;
  font-size: 20px;
  padding: 1px 3px 1px 5px;
  color: black;
  /*border: 1px solid black;*/
  border-radius: 10px;
  background-color: #ffffc1;
  margin-right: 800px
}

#add {
  text-align: center;
  font-family: 'Peddana', serif;
  color: black;
  font-size: 14px;
  border-radius: 5px;
  width: 60px;
  height: 30px;
  background-color: #ffffc1;
  border: 1px solid black;
}

#task {
  text-align: center;
  font-family: 'Peddana', serif;
  font-size: 14px;
  width: 40%;
  border-radius: 5px;
  border: 1px solid black;
}

#completed {
  text-align: center;
  font-family: 'Peddana', serif;
  color: #e2e0dd;
  font-size: 14px;
  border-radius: 5px;
  width: 60px;
  height: 25px;
  background-color: #ac9a1c;
  border: 1px solid black;
}

#delete {
  text-align: center;
  font-family: 'Peddana', serif;
  color: #e2e0dd;
  font-size: 14px;
  border-radius: 5px;
  width: 60px;
  height: 25px;
  background-color: #d4866a;
  border: 1px solid black;
}

.listedTasks {
  font-family: 'Peddana', serif;
  font-style: italic;
  border-radius: 10px;
  background-color: #ffffc1;
  margin-right: 500px;
  padding: 5px 5px 5px 5px;
}

.finishedTasks {
  font-family: 'Peddana', serif;
  font-style: italic;
  color: black;
  background-color: #ac9a1c;
  padding: 5px 5px 5px 5px;
  margin-right: 500px;
  border-radius: 10px;
}

#checkImg {
  height: 20px;
  width: 20px;
}

#pencil {
  margin-left: 600px;
  margin-top: -100px;
  /*opacity: 0.7;*/
  border-radius: 50px;
}
